* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: orange; /* orange */
    color: white;
    padding: 10px 0;
    height: 10%;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}
nav {
    margin: 20px 0;
   
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    
    
    
}
.lihold {
        text-decoration-line: none ;
        text-decoration-color: ;
    }

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.about-content {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 15px;
}

.about-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-images img {
    width: 70%;
    max-width: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.about-images img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}